<div class="request-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card appearance="outlined" class="box">
    <mat-card-header>
      <mat-card-title>Request reset password</mat-card-title>
    </mat-card-header>
    <form [formGroup]="form" class="example-form">
      <mat-card-content>
        <app-backend-error-messages *ngIf="backendErrors$ | async"
          [backendErrors]="backendErrors$ | async"></app-backend-error-messages>
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Email" formControlName="email" required />
          <mat-error> Por favor introduzca un email válido </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="doRequestResetPassword()" [disabled]="isSubmitting$ | async">
          Send
        </button>
        <div class="additional-info" fxLayout="row" fxLayoutAlign="space-between">
          <a href="#" [routerLink]="['../', 'form']">Login</a>
          <span class="divider"></span>
          <a href="#" [routerLink]="['../', 'sign-up']">Nuevo Registro</a>

        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>
