@import 'src/assets/scss/variables';

:host {
  height: 100%;
  
  .request-wrapper {
    height: 100%;
    background: main-palette(300);
  }
  .positronx {
    text-decoration: none;
    color: #ffffff;
  }
  .box {
    position: relative;
    top: 0;
    opacity: 1;
    float: left;
    padding: 60px 50px 40px 50px;
    width: 100%;
    background: #fff;
    border-radius: $shape;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
    max-width: 330px;
  }
  .box.back {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    top: -20px;
    opacity: 0.8;
    z-index: -1;
  }
  .request-wrapper .example-form {
    min-width: 100%;
    max-width: 300px;
    width: 100%;
  }
  .request-wrapper .full-width,
  .request-wrapper .btn-block {
    width: 100%;
  }
  .request-wrapper mat-card-header {
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 700;
  }
  .request-wrapper mat-card-header mat-card-title {
    font-size: 30px;
    margin: 0;
  }
  .request-wrapper .mat-card {
    padding: 40px 70px 50px;
  }
  .request-wrapper .mat-stroked-button {
    border: 1px solid currentColor;
    line-height: 54px;
    background: #fff7fa;
  }
  .request-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.8375em 0;
  }

  form {
    button {
      width: 100%;
    }
    .additional-info {
      // top & bottom module-rem, left & right 0
      padding: $module-rem 0;

      .divider {
        border-left: 1px solid rgba(#000, 0.2);
        display: inline-block;
        height: 18px;
        margin: 0 10px;
        vertical-align: bottom;
      }

      a {
        text-decoration: none;
      }
    }
  }
}
