@import 'src/assets/scss/variables';

:host {
    .main-content {
        padding-top: $navbar-height;
        padding-left: $vertical-navbar-width;
        @include max991 {
            padding-left: 0;
        }
    }
}
