:host * {
    transition: all 500ms ease-in-out;
}

.sidenav-header {
    padding-top: 21px;
    text-align: center;

    >img {
        margin-bottom: 7px;
        object-fit: cover;
    }
}

.header-text {
    height: 3rem;

    >h2 {
        margin: 0;
        font-size: 1.0rem;
        line-height: 1.2rem;
    }

    >h4 {
        margin: 0;
        font-size: 0.8rem;
        line-height: 0.8rem;
    }

}

.hide-header-text {
    opacity: 0;
    height: 0px !important;
    overflow: clip;
}

.menu-item {
    border-left: 5px solid;
    border-left-color: rgba(0, 0, 0, 0);
}

.selected-menu-item {
    border-left-color: blue;
    background-color: rgba(0, 0, 0, 0.05);
}
